.tdp-ribbon {
    width: 100%;
    height: 25vh;
    background-color: #009688;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.tdp-main {
    margin-top: -25vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.tdp-header .mdl-layout__header-row {
    padding-left: 40px;
}

.tdp-container {
    max-width: 1900px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.tdp-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.tdp-layout.is-small-screen .tdp-content {
    padding: 40px 28px;
}

.tdp-content h3 {
    margin-top: 48px;
}

.tdp-footer {
    padding-left: 40px;
    padding-right: 40px;
}

.tdp-card-image__filename {
    color: #009688;
    font-size: 14px;
    font-weight: 500;
}

.tdp-card-wide {
    width: 100%;
}

.tdp-solution-wrapper {
    padding-bottom: 40px;
}

.h-space-30 {
    width: 30px;
    display: inline;
}

#kit-logo {
    width: 100px;
}